@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000;
}

::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  word-break: break-all;
}

table th,
table td {
  padding: 1em 0.5em;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  font-size: 1.4rem;
  text-align: center;
  word-break: keep-all;
}

table th {
  border-top: 1px solid #ccc;
  background-color: #f9f7f2;
  font-weight: 500;
}

fieldset {
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none !important;
}

img,
video {
  border: 0;
  vertical-align: top;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

address,
em,
cite {
  font-style: normal;
  font-weight: normal;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

button img {
  vertical-align: middle;
}

input {
  border: 1px solid #ccc;
  border-radius: 2px;
}

input[type="text"],
input[type="tel"] {
  padding: 0.6em;
  outline: 0;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.1em;
  height: 1.1em;
}

input[type="checkbox"]:checked {
  border: none;
}

input[type="checkbox"]:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 2px;
  background: url(/img/ico_chk.svg) no-repeat center / 100%;
}

textarea {
  padding: 0.6em;
  outline: 0;
  border: 1px solid #ccc;
  resize: none;
}

select,
textarea,
button,
input {
  outline: 0;
  font: 1.5rem "Lato", "Noto Sans KR", sans-serif;
}

.blind {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  height: 0;
  text-indent: -9999px;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* layout */
html {
  font-size: 10px;
}

body {
  font-family: "Lato", "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.4;
  color: #000;
  overflow-x: hidden;
}

.inner {
  width: 65vw;
  margin: 0 auto;
}

/* section */
section {
  margin-bottom: 6em;
}

/* loading */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.loadingio-spinner-rolling {
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 10em;
  height: 10em;
  overflow: hidden;
}

@keyframes load {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.load {
  width: 100%;
  height: 100%;
}

.load div {
  position: absolute;
  width: 5em;
  height: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border: 10px solid #00690f;
  border-top-color: transparent;
  border-radius: 50%;
  box-sizing: content-box;
  animation: load 1.5s linear infinite;
}

/* btn */
.btn_area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 0.5em 2em;
  border-radius: 2px;
  background-color: #00690f;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  padding: 2.5em 0;
  transition: all 0.3s;
  z-index: 999;
}

header.move-down {
  background-color: #222;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

header .inner {
  width: 85vw;
}

header .navMenu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

header .logo img {
  width: 20em;
}

header .nav {
  display: flex;
  align-items: center;
}

header .nav > li {
  position: relative;
  margin-right: 1.5em;
}

header .nav > li > a {
  padding: 1em 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}

header .sub {
  position: absolute;
  top: 2em;
  left: 0;
  display: none;
  width: max-content;
  background-color: #fff;
}

header .sub li {
  border-bottom: 1px solid #dfd4ba;
  transition: all 0.2s;
}

header .sub li:hover {
  background-color: #f5f0e7;
}

header .sub li a {
  display: block;
  padding: 0.5em 2.5em 0.5em 1em;
  transition: all 0.2s;
  font-weight: 500;
  color: #999;
}

header .sub li a:hover {
  color: #000;
}

header .tnb {
  display: flex;
  align-items: center;
}

header .tnb li {
  margin-right: 1.5em;
}

header .tnb a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}

header .tnb li.instagram {
  position: relative;
  padding-left: 1.5em;
}

header .tnb li.instagram:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 80%;
  background-color: #fff;
}

header .tnb li.instagram img {
  width: 1.3em;
  filter: brightness(0) invert(1);
}

/* mobMenu */
.mobNavBg {
  display: none;
}

.mobMenu {
  display: none;
}

.menuClose {
  display: none;
}

/* footer */
footer {
  padding: 2em 0 6em;
  background-color: #eee;
}

footer li {
  font-size: 1.4rem;
  color: #666;
}

footer b {
  font-weight: 600;
}

footer p {
  position: relative;
  margin-top: 2em;
  font-size: 1.4rem;
  color: #666;
  opacity: 0.5;
}

footer p::before {
  content: "";
  position: absolute;
  top: -1em;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* popup */
#pop_wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

#pop_wrap img {
  width: 100%;
  margin-bottom: 2em;
}

#pop_wrap img:last-child {
  margin-bottom: 0;
}

#pop_contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
}

#pop_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

#pop_header h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

#pop_header .pop_close span {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}

#pop_body {
  width: 100%;
  height: 70vh;
  padding: 2em;
  background-color: #fff;
  overflow: hidden;
  overflow-y: scroll;
}

/* ractive */
@media screen and (max-width: 1400px) {
  /* layout */
  .inner {
    width: 90vw;
  }

  /* header */
  header .inner {
    width: 95vw;
  }

  header .logo img {
    width: 20vw;
  }

  header .nav > li {
    margin-right: 1em;
  }
}

@media screen and (max-width: 1024px) {
  /* layout */
  html {
    font-size: 9px;
  }

  /* popup */
  #pop_contents {
    width: 80vw;
  }
}

@media screen and (max-width: 820px) {
  /* layout */
  html {
    font-size: 8px;
  }

  .inner {
    width: 95vw;
  }

  /* header */
  header {
    padding: 3em 0;
  }

  header .logo img {
    width: 30vw;
  }

  header .nav {
    display: block;
  }

  header .nav > li {
    width: 100%;
  }

  header .nav > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    border-bottom: 1px solid #dfd4ba;
    background-color: #f9f7f2;
    color: #000;
  }

  header .sub {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
  }

  header .sub > li > a {
    display: block;
    width: 100%;
    padding: 1em;
    padding-left: 3em;
    color: #000;
  }

  header .tnb {
    display: block;
    width: 100%;
    margin-top: auto;
  }

  header .tnb li {
    margin: 0;
  }

  header .tnb li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 1.6rem;
    border-bottom: 1px solid #eee;
    color: #999;
  }

  header .tnb li.instagram {
    padding-left: 0;
    margin-bottom: 2em;
  }

  header .tnb li.instagram img {
    width: 2em;
    filter: brightness(0) invert(0.8);
  }

  /* mobMenu */
  .mobMenu {
    position: absolute;
    top: 50%;
    left: 2.5vw;
    transform: translateY(-50%);
    display: block;
  }

  .mobMenu span {
    color: #fff;
  }

  header .mobNavBg {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 998;
  }

  header .mobNavBg.on {
    display: block;
  }

  header .navMenu {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    width: 75%;
    height: 100vh;
    background-color: #fff;
    transition: all 0.5s;
    z-index: 999;
  }

  header .navMenu.on {
    left: 0;
  }
}

@media screen and (max-width: 640px) {
  /* layout */
  html {
    font-size: 8px;
  }

  br {
    display: none;
  }

  /* section */
  section {
    margin-bottom: 4em;
  }

  /* header */
  header {
    padding: 2.5em 0;
  }

  header .logo img {
    width: 50vw;
  }

  header .nav > li > a {
    padding: 1em;
  }

  header .sub > li > a {
    padding-left: 2em;
  }

  header .tnb li.instagram img {
    width: 1.5em;
  }

  /* footer */
  footer {
    padding: 2em 0 4em;
  }

  /* popup */
  #pop_contents {
    width: 95vw;
  }
}
