@charset "utf-8";

/* main */
#main {
  position: relative;
  height: 65vh;
  margin-bottom: 8em;
}

#main .mainSwiper {
  height: 100%;
  overflow: hidden;
}

#main figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main img {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#main .swiper-horizontal > .swiper-pagination-bullets,
#main .swiper-pagination-bullets.swiper-pagination-horizontal,
#main .swiper-pagination-custom,
#main .swiper-pagination-fraction {
  top: auto;
  bottom: -4vh;
}

#main .swiper-pagination-bullet {
  width: 0.7em;
  height: 0.7em;
  background-color: #eee;
  opacity: 1;
}

#main .swiper-pagination-bullet-active {
  background-color: #00690f;
}

/* picnic */
#picnic .inner {
  display: flex;
  justify-content: center;
  height: 60vh;
  overflow: hidden;
}

#picnic .picnicImg {
  position: relative;
  min-width: fit-content;
  height: 100%;
  margin-right: 2em;
  overflow: hidden;
}

#picnic .picnicImg img {
  width: auto;
  height: 100%;
}

#picnic .picnicText {
  position: relative;
  width: 40%;
  height: 100%;
}

#picnic .picnicText h3 {
  margin-bottom: 0.3em;
  font-size: 4rem;
  font-weight: 600;
}

#picnic .picnicText h4 {
  margin-bottom: 0.5em;
  font-size: 2.6rem;
  font-weight: 500;
}

#picnic .picnicText h5 {
  margin-bottom: 1em;
  font-size: 1.6rem;
  color: #666;
}

#picnic .picnicText a {
  display: flex;
  align-items: center;
}

#picnic .picnicText a p {
  margin-right: 0.5em;
  font-size: 1.8rem;
  font-weight: 600;
}

#picnic .picnicText a span {
  font-size: 1.8rem;
  font-weight: 400;
}

#picnic .picnicText img {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  z-index: -1;
}

/* kitchen */
#kitchen {
  position: relative;
  width: 100vw;
  padding: 4em 0;
  background: url(/img/img_kitchen_main_01.jpg) no-repeat center / cover;
}

#kitchen:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#kitchen .inner {
  position: relative;
  z-index: 3;
}

#kitchen .kitchenText {
  margin-bottom: 2em;
  text-align: center;
}

#kitchen .kitchenText h4 {
  margin-bottom: 0.5em;
  font-size: 2.6rem;
  font-weight: 500;
  color: #fff;
}

#kitchen .kitchenText h5 {
  margin-bottom: 1em;
  font-size: 1.6rem;
  color: #ddd;
}

#kitchen .kitchenImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(45vw + 4em);
  margin: 2em auto 0;
  padding-top: 2em;
  border-top: 2px solid #fff;
}

#kitchen .kitchenImg img {
  width: 15vw;
  margin-right: 2em;
}

#kitchen .kitchenImg img:last-child {
  margin-right: 0;
}

/* sandwich */
#sandwich .sandwichText {
  margin-right: 2em;
  text-align: center;
}

#sandwich .sandwichText h3 {
  margin-bottom: 0.3em;
  font-size: 4rem;
  font-weight: 600;
}

#sandwich .sandwichText h4 {
  margin-bottom: 0.5em;
  font-size: 2.6rem;
  font-weight: 500;
}

#sandwich .sandwichText h5 {
  margin-bottom: 1em;
  font-size: 1.6rem;
  color: #666;
}

#sandwich .sandwichText a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

#sandwich .sandwichText a p {
  margin-right: 0.5em;
  font-size: 1.8rem;
  font-weight: 600;
}

#sandwich .sandwichText a span {
  font-size: 1.8rem;
  font-weight: 400;
}

#sandwich .sandwichImg img {
  width: 50%;
  margin: 0 auto 2em;
}

#sandwich .sandwichImg img:last-child {
  margin-bottom: 0;
}

/* instagram */
#instagram .inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

#instagram a {
  margin-bottom: 2em;
}

#instagram a img {
  width: 3em;
  margin: 0 auto 0.5em;
}

#instagram a p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #999;
}

#instagram .instagramSwiper figure {
  position: relative;
  width: 100%;
  height: 22em;
  overflow: hidden;
}

#instagram .instagramSwiper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media screen and (max-width: 1400px) {
  /* main */
  #main {
    height: 60vh;
  }

  #main img {
    top: 0;
    bottom: auto;
  }

  /* instagram */
  #instagram .instagramSwiper figure {
    height: 16em;
  }
}

@media screen and (max-width: 1024px) {
  /* main */
  #main {
    height: 45vh;
  }

  #main .swiper-horizontal > .swiper-pagination-bullets,
  #main .swiper-pagination-bullets.swiper-pagination-horizontal,
  #main .swiper-pagination-custom,
  #main .swiper-pagination-fraction {
    bottom: -3vh;
  }

  /* picnic */
  #picnic .inner {
    height: 45vh;
  }
}

@media screen and (max-width: 640px) {
  /* main */
  #main {
    height: 60vh;
    margin-bottom: 6em;
  }

  #main img {
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
  }

  #main .swiper-horizontal > .swiper-pagination-bullets,
  #main .swiper-pagination-bullets.swiper-pagination-horizontal,
  #main .swiper-pagination-custom,
  #main .swiper-pagination-fraction {
    bottom: -3vh;
  }

  /* picnic */
  #picnic .inner {
    display: block;
    height: auto;
    overflow: visible;
  }

  #picnic .picnicImg {
    display: none;
  }

  #picnic .picnicText {
    width: 100%;
    margin-right: 0;
  }

  #picnic .picnicText a {
    margin-bottom: 1em;
  }

  #picnic .picnicText img {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    height: auto;
  }

  /* kitchen */
  #kitchen .kitchenImg {
    width: 100%;
  }

  #kitchen .kitchenImg img {
    width: calc((100% - 2em) / 3);
    margin-right: 1em;
  }

  /* sandwich */
  #sandwich .sandwichText {
    text-align: right;
  }

  #sandwich .sandwichText a {
    justify-content: flex-end;
  }

  #sandwich .sandwichImg img {
    width: 100%;
  }

  /* instagram */
  #instagram .instagramSwiper {
    width: 95vw;
    margin: 0 auto;
    overflow: hidden;
  }

  #instagram .instagramSwiper figure {
    height: 10em;
  }
}
